---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import HTML from "./icons/HTML.astro"
import CSS from "./icons/CSS.astro"
import Javascript from "./icons/Javascript.astro"
import React from "./icons/React.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  HTML: {
    name: "HTML",
    class:"bg-[#2965F1] text-white",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    class:"bg-[#264DE4] text-white",
    icon: CSS,
  },
  React: {
    name: "ReactJS",
    class:"bg-white text-black",
    icon: React,
  },
  ReactN: {
    name: "React Native",
    class:"bg-white text-black",
    icon: React,
  },
  Javascript: {
    name: "Javascript",
    class:"bg-white text-black",
    icon: Javascript,
  },
}
const PROJECTS = [
  {
    title: "Total Cam Security",
    description:
      "Página desarrollada en curso de Desarrollo Web de Coderhouse que informa acerca del rubro de la empresa Total Cam Security S.A y contacta con sus potenciales clientes.",
    link: "https://totalcamsecurity.cl/",
    github: "https://github.com/bastianSalinas/TotalCamSec",
    image: "/projects/totalcamsec.PNG",
    tags: [TAGS.HTML, TAGS.CSS],
  },
  {
    title: "Tienda Online React JS",
    description:
      "Página de tienda online creada en curso de React de Coderhouse. Creada desde cero con React, Javascript, HTML, CSS.",
    link: "https://tienda-online-rjs.vercel.app/",
    github: "https://github.com/bastianSalinas/TiendaOnlineRJS",
    image: "/projects/tiendareactjs.PNG",
    tags: [TAGS.React, TAGS.Javascript, TAGS.HTML, TAGS.CSS],
  },
  {
    title: "Hicking Santiago",
    description:
      "Página informativa de Hicking en Santiago interactiva, creada en curso de Javascript de Coderhouse. Creada desde cero con Javascript, HTML, CSS.",
    github: "https://github.com/bastianSalinas/HikingSantiago",
    image: "/projects/paginahicking.PNG",
    tags: [TAGS.Javascript, TAGS.HTML, TAGS.CSS],
  },
  {
    title: "App Store Viajes Lit",
    description:
      "Aplicación de tienda online para dispositivos móviles creada en curso de Desarrollo de Aplicaciones de Coderhouse. Creada desde cero con React Native, Expo y Javascript.",
    github: "https://github.com/bastianSalinas/AppStoreViajesLit",
    image: "/projects/viajeslitapp.PNG",
    tags: [TAGS.ReactN, TAGS.Javascript],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



